:root {
    --theme-color: #ffffff;
    --theme2-color: #ffffff;
    --text-color: #05063d;
    --bg-color: #05063d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid var(--theme-color);
    border-radius: 5px;
    position: relative;
    top: 0vh;
    height: 99vh;
    width: 420px;
    overflow: hidden;
    background-color: var(--bg-color);
    /* overflow-y: hidden;
    scroll-behavior: smooth; */
}

.wrapper {
    /* margin: 15px; */
    /* overflow: hidden; */
    /* border: 2px solid rgb(255, 0, 0); */
    height: 80vh;
    width: auto;
}

.wrapper hr {
    /* width: ; */
    /* float: right; */
    color: var(--theme-color);
    margin: 10px 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    padding: 20px 0 20px 0;
    height: 90px;
    color: var(--theme-color);
}

.add-contact {
    width: 100%;
    /* border: 1px solid green; */
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--theme-color);
    cursor: pointer;
}

.plus {
    font-size: 20px;
}

.search-contact {
    width: 100%;
    margin: 15px 0;
    /* border: 1px solid green; */
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: flex-start;
    color: var(--theme-color);
    border: 1.5px solid var(--theme-color);
}

.search {
    font-size: 20px;
    margin: 0 8px;
}

.search-contact input {
    border: none;
    width: 80%;
    color: var(--theme-color);
    font-size: 13px;
    height: 80%;
    background-color: transparent;
}

.search-contact input:focus-visible {
    outline: none;
}

.search-contact input::placeholder {
    color: var(--theme-color);
}

.contact-box {
    height: 68vh;
    overflow-y: scroll;
}

.contact-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: 50px;
    margin: 15px 0;
    border-radius: 5px;
    background-color: var(--theme2-color);
}

.user-profile {
    display: inline-flex;
    align-items: center;
}

.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-image {
    font-size: 36px;
    margin: 0 13px;
}

.card-action {
    display: inline-flex;
}

.edit-profile {
    font-size: 25px;
    cursor: pointer;
    margin-right: 15px;
}

.delete-profile {
    font-size: 25px;
    cursor: pointer;
    margin-right: 15px;
    color: rgb(255, 90, 90);
}