:root {
    --theme-color: #FF851B;
    --theme2-color: #d77d2f;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid var(--theme-color);
    border-radius: 5px;
    height: 100vh;
    width: 420px;
}

.wrapper {
    margin: 15px;
    /* border: 2px solid rgb(255, 0, 0); */
    height: 100%;
    width: auto;
}

.wrapper hr {
    /* width: ; */
    /* float: right; */
    margin: 20px 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    padding: 10px 0 30px 0;
    height: 50px;
}

.add-contact {
    width: 100%;
    /* border: 1px solid green; */
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--theme-color);
    cursor: pointer;
}

.plus {
    font-size: 20px;
}

.search-contact {
    width: 100%;
    margin-top: 15px;
    /* border: 1px solid green; */
    height: 28px;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: flex-start;
    color: var(--theme-color);
    border: 1.5px solid var(--theme-color);
}

.search {
    font-size: 20px;
    margin: 0 8px;
}

.search-contact input {
    border: none;
    width: 80%;
    color: var(--theme-color);
    font-size: 13px;
    height: 80%;
    background-color: transparent;
}

.search-contact input:focus-visible {
    outline: none;
}

.search-contact input::placeholder {
    color: var(--theme-color);
}

.contact-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    height: 50px;
    margin: 15px 0;
    border-radius: 5px;
    background-color: var(--theme2-color);
}

.profile-data {
    display: flex;
    flex-direction: column;
}

.profile-image {
    font-size: 35px
}

.edit-profile,
.delete-profile {
    font-size: 25px;
    cursor: pointer;
}